*{
    text-decoration: none;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(56, 138, 209);
}

.nav .list {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    color: aliceblue;
  }
  