.about-game{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.about-text{
    width: 50%;
    text-align: center;
    color: rgb(6, 7, 8);
}

.about-header{

    color: rgb(56, 138, 209);
}