.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.numb{
    font-size: 25px;
    font-weight: bold;
    color: rgb(56, 138, 209);;
}

.number{
    font-size: 25px;
    font-weight: bold;
    color: rgb(56, 138, 209);;
}